/* :root {
    --header_text: #999999;
    --header_fontSize: 16px;
    --nav_blue: #1dafed;
    --header_height: 65px;
} */

header{
    height: var(--header_height);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
    z-index: 1;
}

.header{
    display: flex;
    justify-content: space-between;
}

header ul li{
    list-style: none;
}

header ul li:hover{
    background-color: var(--nav_blue);
}

header ul li:hover a{
    color: #fff;
}

.header_logo{
    width: 235px;
    height: var(--header_height);
    box-sizing: border-box;
    padding-top: 2px;
    padding-bottom: 5px;
}

.header_logo img{
    width: 100%;
    height: 100%;
}

.header_nav{
    display: inline-flex;
    flex-flow: row nowrap;
    height: var(--header_height);;
}

.header_nav li{
    height: var(--header_height);;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.header_nav a{
    color: var(--header_text);
    font-size: var(--header_fontSize);
    text-transform: uppercase;
}

.subMenu{
    display: none;
    padding-inline-start: 0px;
    padding-left: -15px;
    position: absolute;
    top: 100%;
    left:0;
    white-space: nowrap;
    box-sizing: border-box;
}

.subMenu li{
    background: var(--nav_blue);
    
}

.subMenu li a{
    color: white;
}

.subMenu li:hover{
    background: white;
    color: var(--nav_blue);
}

.subMenu li:hover a{
    color: var(--nav_blue);
}

/* .header_nav .subMenu_top::after{
    content: ">";
    text-transform: lowercase;
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 5px;
    font-weight: 300;
} */

.burger{
    width: 30px;
    height: 30px;
    display: none;
    align-self: center;
}

.burger img{
    width: 100%;
}

.centralize{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}

.header_nav_mobile{
    display: none;
    list-style: none;
    background: var(--pinkbg);
    top: 0;
    left: 0;
    position: absolute;  
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.header_nav_mobile li{
    margin-bottom: 10px;
}

.header_nav_mobile li a{
    color: var(--color_main);
    border: 2px solid var(--footerbg);
    display: block;
    padding: 15px 0px;
    font-size: 20px;
    width: 260px;
    box-sizing: border-box;
    text-align: center;
}

.header_nav_mobile li a:hover{
    color: var(--nav_blue);
}


#close{
    display: block;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
}




/* ADAPTATION */


@media screen and (max-width: 990px){
    header nav{
        display: none;
    }

    .burger{
        display: block;
        
    }

    

}


@media screen and (max-width: 460px){
    .header_logo{
        width: 150px;
        /* height: 45px; */
    }

    :root{
        --header_height: 45px;
    }
}

@media screen and (max-width: 370px){
    #close{
        width: 25px;
        height: 25px;
        top: 5px;
        right: 5px;
    }

    .header_nav_mobile li a{
        width: 240px;
        padding: 10px 0px;
    }

    .header_nav_mobile li{
        margin-bottom: 13px;
    }
}