.workers{
    background: var(--pinkbg);
    padding-bottom: 40px;
}

.workers .center{
    display: flex;
    justify-content: space-between;
}

.workers_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.workers_item h2{
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 10px;
}

.workers_item h3{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 7px;
}

.workers_item p{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    align-self: flex-end;
}

.workers_item img{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px){
    .workers .center{
        flex-direction: column;
    }

    .workers_item{
        align-self: center;
        margin-top: 40px;
    }
    .workers_item{
        width: 90%;
        min-width: 250px;
        
    }

    .workers_item p{
        align-self: center;
    }


}


@media screen and (max-width: 370px){
    .workers_item{
        width: 90%;
        min-width: 250px;
    }

    .workers_item img{
        width: 200px;
        height: 200px;
    }

    .workers_item h2{
        font-size: 18px;
    }

    .workers_item h3{
        font-size: 17px;
    }

    .workers_item p{
        font-size: 15px;
    }
}